* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Lato", Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* color: white; */
}

/* ::selection{ */
/* color: #ffffff; */
/* background-color: #000000cc; */
/* text-shadow: 10px 20px 20px #871712; */
/* } */


div,
article,
section,
form {
    /* outline-color: aqua; */
    /* outline-width: 1px; */
    /* outline-style: solid; */
    /* display: flex; */
    flex-wrap: wrap;
}


.header__navbar {
    position: fixed;
    background-image: linear-gradient(#000, transparent);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 5;
}

.search {
    position: relative;
    left: -2.2em;
    top: 0.5em;
}

.input {
    margin-left: -38em;
    border-radius: 3em;
    width: 20em;
    height: 3em;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    padding-left: 1em;
    padding-right: 1em;
}


.dark{
    background-color: #353536;
    color: white;
    transition: all 1s ease;
    border-color:  #000;
}

.moon {
    width: 1.6em;
    position: absolute;
    right: 42em;
    bottom: 1.7em;
    transition: 0.5s;
}

#toggle {
    display: none;
}

.moon:hover {
    box-shadow: 1px 1px 5px 5px #9c9898;
    border-radius: 50%;
}


#menu {
    display: none;
}

.hamburger {
    display: none;
}


#menu:checked~.hamburger {
    background-image: linear-gradient(rgb(255, 0, 0) 20%,#ff0000b1 80%);
    display: flex;
    padding-top: 6em;
    position: absolute;
    flex-direction: column;
    transform: translateY(-5em);
    height: 100vh;
    width: 14em;
    right: 0;
    list-style: none;
    padding-left: 1em;
    gap: 2em;
    z-index: 1;
    text-align: left;
    font-size: 0.9em;
}

body{
    transition: all 1.5s;
}

.hamburger__icon {
    position: relative;
    right: 0.5em;
    top: 0.5em;
    width: 2em;
}


.list__menu:hover {
    border-radius: 30%;
    box-shadow: 1px 1px 10px 5px #9c9898;
}


input:hover {
    border-color: #9c9898;
    transition: 0.5s;
}

.list__link {
    background-color: transparent;
    color: white;
    text-decoration: none;
    margin: 0 1.8em;
}

.list__link--active {
    background-color: red;
    width: 8em;
    height: 2.5em;
    text-align: center;
    padding: 0.6em;
    margin-right: .5em;
}


.list__link:hover {
    color: #9c9898;
    transition: 0.5;
}


.list__menu {
    height: 3em;
    margin-left: 1em;
    margin-right: 3em;
    transition: 0.5s;
    position: relative;
    z-index:  10;
}

.img__logo {
    display: inline-block;
    width: 12em;
    margin-right: 32em;
    padding: 2em;
}

main {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/img/solar.jpg");
    background-size: cover;
    background-clip: border-box;
    margin-top: 2vw;
    color: #fff;
}

:root {
    --color-red: #e30e0e;
    --color-white: #ededed;
    --color-black: #black;
    --color-background: #ffffff;
    --font-tiny: 0.8em;
    --font-small: 1.2em;
    --font-mid: 1.6em;
    --font-big: 2.3em;
    --font-title: 3em;
    --font-giant: 4em;
}

.panel-main {
    margin-top: 2vw;
    /* margin-left: 7vw; */
    /* margin-right: 7vw; */
    padding-left: 7vw;
    padding-right: 7vw;
}

.color-black {
    color: var(--color-black)
}

.color-white {
    color: var(--color-white);
}

.font-sml {
    font-size: 1.2em;
}

.font-mid {
    font-size: 1.6em;
}

.font-big {
    font-size: 2.3em;
}

.font-title {
    font-size: 3em;
}

.icon {
    display: flex;
    max-width: 5vw;
    flex-wrap: wrap;
    /* flex-shrink: 1; */
}


.message-box {
    background-color: rgba(255, 0, 0);
    position: fixed;
    bottom: 3em;
    left: 0;
    width: 17em;
    height: 5.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
    border: 5px solid #000
}

.message-box__p {
    color: white;
    width: 60%;
}

span {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #9c9898;
    transition: 0.5s;
}

.video {
    width: 4em;
    margin-right: 1em;
    margin-left: 1em;
    float: right;
}

.logo {
    display: flex;
    max-width: 25vw;
    flex-wrap: wrap;
}

.align-bot {
    display: flex;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    align-self: baseline;
}
.align-top {
    height: 100%;
    margin-bottom: auto;
    align-self: flex-end;;
}

.align-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-end {
    display: flex;
    height: auto;
    align-items: flex-end;
    justify-content: flex-end;
}

.grow {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.grow-soft {
    display: flex;
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.main-title {
    /* display: flex; */
    text-shadow: 5px 5px 10px black;
    font-size: 1.8vw;
    /* margin-right: 10vw; */
}

.main-form {
    padding: 3vw;
    width: 23vw;
    height: 23vw;
    flex-wrap: nowrap;
    flex-grow: 1em;
    justify-content: space-between;
    background-color: rgba(35, 35, 35, 0.9);
    margin-top: 5em;
}

.boton-rojo {
    background-color: var(--color-red);
    border: none;
    color: var(--color-white);
    padding: 1vw;
    display: flex;
    font-size: 1em;
}

/* .main-form-boton{ */
/* background-color: var(--color-red); */
/* border: none; */
/* color: var(--color-white); */
/* padding: 1vw; */
/* display: flex; */
/* font-size: 1em; */
/* } */
.main-form-line {
    /* margin-left: -38em; */
    width: 100%;
    height: 2vw;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 3em;
    padding-left: 2.5em;
    color: var(--color-white);
    /* padding-left: 25px; */
    /* background-color: #fff; */
    /* background-size: 2em; */
    /* background-position: 0.4em; */
    /* background-repeat: no-repeat; */
    /* background-attachment: scroll; */
}

/* background: url(assets/icons/user.svg) no-repeat scroll 0.4em; */
.main-form-line::placeholder {
    color: var(--color-white);
}


.main-icons {
    padding: 1vw;
    border: 2px solid;
    border-radius: 1vw;
}

/* FECHA */
.panel-fecha {
    background-color: var(--color-red);
    color: var(--color-white);
}

.panel-fecha>* {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--color-white);
}

.fecha-icono {
    padding: 1vw;
}

.fecha-divisor {
    border-left: var(--color-background);
    border-left-width: 2px;
    border-left-style: solid;
}

.fecha-boton {
    background-color: transparent;
    border: none;
    margin-top: 1vw;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--color-white);
    color: var(--color-white);
    padding: 1.5vh;
    font-size: 0.8em;
}

.panel-dudas {
    position: sticky;
    top: 90vh;
    background-color: var(--color-red);
    padding: 1vw;
    padding-right: 3vw;
}

.panel-beneficios {
    color: var(--color-white);
}

.beneficios-titulo {
    /* font-size: 3em; */
    padding: 5vw;
    text-shadow: 3px 3px 10px black;
}

.beneficios-item {
    padding-bottom: 5vw;
    text-shadow: 3px 3px 10px black;
    font-size: var(--font-small);
}

/* .beneficios-item-titulo{ */
/* padding-bottom: 1vw; */
/* } */
.panel-informacion>* {
    /* max-width: 20vw; */
    margin-right: 28vw;
    margin-bottom: 5vh;
    font-size: var(--font-small);
}

.porque-titulo {
    color: var(--color-red);
    font-size: var(--font-big);
}

.porque-item {
    max-width: 15vw;
    font-size: var(--font-small);
    padding-top: 1em
}

.panel-modulos {
    color: var(--color-white);
}

.modulos-titulo {
    color: var(--color-red);
}

.modulos-grid {
    display: grid;
    grid-template-columns: auto auto;
    /* column-gap: 1vw; */
    gap: 2vw 1vw;
    padding-bottom: 2vw;
}

.modulos-item {
    background-color: rgb(41, 39, 39);
    background-clip: content-box;
    padding-left: 1vw;
    /* margin-top: 2vw; */
}

.modulos-item-titulo {
    min-width: 20vw;
    min-height: 3vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;
    background-color: var(--color-red);
    margin-left: -1vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.modulos-item-triangulo {
    width: 0;
    height: 0;
    border-left: 1.05vw solid transparent;
    border-top: 1vw solid #871712;
    margin-left: -1vw;
}

.modulos-item-body {
    margin: 2vw;
}

.modulos-item-texto {
    /* background-color: rgb(60, 59, 59); */
    padding: 2vw;
}

.modulos-item-grid {
    display: grid;
    grid-template-columns: auto auto;

}

.modulos-item-grid-item {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--color-red);
    padding: 2vw;
}

.icon-info {
    width: 10em;
}

.panel-mercado {
    /* flex-grow: 1; */
    /* max-width: 50%; */
    width: 50%;
    /* color: var(--color-black); */
}

.mercado-titulo {
    color: var(--color-red);
}

.mercado-background {
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: aqua; */
    margin-right: -7vw;
    /* background-clip: content-box; */
    background-image: url("../assets/img/solar.jpg");
    background-size: cover;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.mercado-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10vh;
    margin-top: 8vh;
}

/* .footer{} */
.panel-admision {
    color: var(--color-white);
    text-shadow: 5px 5px 10px black;
    padding: 3vw;
    background-image:  linear-gradient(transparent,#000000b3),url("../assets/img/edificio-blur.png");
    background-size: cover;
    background-position: center center;
}

main{
    height: 100vh;
}

.panel-admision>* {
    flex-grow: 1;
    padding-left: 5vw;
}

.panel-admision h1 {
    font-size: var(--font-giant);
    margin-bottom: 0.3em;
}


.panel-contacto {
    font-size: var(--font-mid);
    color: var(--color-white);
    /* background-image: url(); */
    background-color: #282e3b;
    padding-top: 15vh;
    padding-bottom: 15vh;
    /* max-width: 10vw; */
}

.panel-contacto>* {
    max-width: 500px;
}

.panel-contacto>form {
    max-width: 400px;
    font-size: var(--font-small);
    ;
}

.panel-contacto form>* {
    display: block;
    margin-top: 2vh;
}

.panel-contacto input,
.panel-contacto button {
    border-style: solid;
    border-width: 1px;
    border-radius: 999px;

    background-color: transparent;
    color: var(--color-white);
    height: 6vh;
    min-width: 6vw;
    /* font-size: var(--font-tiny); */
}

.panel-contacto input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 3.5em;
}

.panel-contacto input::placeholder {
    color: var(--color-white);
    font-size: var(--font-small);
}


.contact--form__container {
    width: 100%;
    height: 35em;
}

.contact--form__container {
    display: flex;
    background-image: url("../assets/img/electronica.jpg");
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
    background-size: cover;
    background-position: center;
}

.contact-from__h3 {
    text-align: center;
    color: #fff;
    font-size: 2em;
}

.contact-from__p {
    text-align: center;
    color: #fff;
}

.submit {
    font-size: 1em;
    width: 6em;
    height: 2em;
    border-radius: 20em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.input__form {
    width: 23em;
    height: 3em;
    border-radius: 1em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 3em;
}


.img__logo--3 {
    margin-top: 5em;
    width: 19em;
    height: 12em;
    padding: 1em;
    border-right: 2px solid white;
    margin-right: 6em;
}

.contact__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15em;
    justify-content: end;
    align-content: start;
    margin-left: 1em;
    position: relative;
    right: 3em;
}

.input__form::placeholder {
    color: #fff;
}

.icon__form {
    position: relative;
    right: 21.5em;
    top: 0.3em;
}


.footer__container {
    width: 100%;
    height: 25em;
    background-color: #535050;
    display: flex;
    justify-content: center;
}

.footer__h3 {
    margin-left: 2.5em;
    margin-top: 7em;
    color: rgb(142, 212, 38);
    width: 100%;
    height: 100%;
}

.footer__p {
    position: relative;
    bottom: 1em;
    right: 22.2em;
    color: #fff;
    margin-bottom: 10em;
    margin-top: 0.2em;
    margin-left: 3.6em;
    font-size: 0.8em;
    line-height: 2em;
}


.footer__p--active {
    position: relative;
    bottom: 3em;
    right: 22.4em;
}

.footer__p--contact {
    position: relative;
    top: -0.2em;
    line-height: 1em;
    font-size: 0.8em;
}




.green {
    color: rgb(142, 212, 38);
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #9c9898;
    transition: 0.5s;
}

.button:hover {
    color: #535050;
}
