* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif
}

.header__navbar {
    position: fixed;
    background-image: linear-gradient(#000, transparent);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 5;
}

.search {
    position: relative;
    left: -2.2em;
    top: 0.5em;
}

.input {
    margin-left: -25em;
    border-radius: 3em;
    width: 20em;
    height: 3em;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    padding-left: 1em;
    padding-right: 1em;
}


.dark {
    background-color: #353536;
    color: white;
    transition: all 1s ease;
}

.moon {
    width: 2em;
    margin-bottom: 5px;
    transition: 0.5s;
    border-radius: 100%;
}
.moon__btn{
    border-radius: 100%;
    background-color: transparent;
    border-color: transparent;
}

#toggle {
    display: none;
}

.moon:hover {
    box-shadow: 1px 1px 5px 5px #9c9898;
    background-color: white;
    border-radius: 100%;
}


#menu {
    display: none;
}

.hamburger {
    display: none;
}


#menu:checked~.hamburger {
    background-color: #f00;
    display: flex;
    padding-top: 6em;
    position: absolute;
    flex-direction: column;
    transform: translateY(-5em);
    height: 100vh;
    width: 14em;
    right: 0;
    list-style: none;
    padding-left: 1em;
    gap: 2em;
    z-index: 1;
    text-align: left;
    font-size: 0.9em;
}

.hamburger__icon {
    position: relative;
    right: 0.5em;
    top: 0.5em;
    width: 2em;
}


.list__menu:hover {
    border-radius: 30%;
    box-shadow: 1px 1px 10px 5px #9c9898;
}


input:hover {
    border-color: #9c9898;
    transition: 0.5s;
}

.list__link {
    background-color: transparent;
    color: white;
    text-decoration: none;
    margin: 0 1.8em;
}

.list__link--active {
    background-color: red;
    width: 8em;
    height: 2.5em;
    text-align: center;
    padding: 0.6em;
    margin-right: .5em;
}


.list__link:hover {
    color: #9c9898;
    transition: 0.5;
}


.list__menu {
    height: 3em;
    margin-left: 1em;
    margin-right: 3em;
    transition: 0.5s;
    position: relative;
    z-index:  10;
}

.img__logo {
    display: flex;
    width: 15em;
    padding: 2em;
    justify-content: start;
}

.main {
    position: relative;
    background-color: #000;
    display: flex;
    width: 100%;
    height: 120vh;
    align-items: end;
    justify-content: center;
    z-index: 1;
}

.icon {
    width: 4.5em;
    height: 4em;
    margin: 0em 3.5em;
}

.icon--apple {
    width: 6em;
    margin-left: 3em;
}

.icon--google {
    width: 6em;
    margin-left: 3em;
    margin-bottom: 2em;
}

.container__main {
    position: relative;
    display: inline-grid;
    justify-content: center;
    align-content: center;
}

.text-icon {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2em;
}

.text-icon:hover {
    color: #9c9898;
    transition: 0.5;
}


.container__about-us {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url("../assets/img/solar.jpg");
    align-items: center;
    justify-content: start;
    background-size: cover;
    background-position: center;

}

.square__about-us {
    margin-top: 3em;
    background-color: rgb(36, 30, 30);
    width: 34.2em;
    height: 38em;
    margin-left: 7em;
    padding: 2em;

}

.square__form__about-us {
    background-color: red;
    margin-top: 2em;
    width: 30.5em;
    height: 30em;
}

.square__title__about-us {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.square_p__about-us {
    font-size: 1.1em;
    padding: 2em;
    color: #fff;
}

.message-box {
    background-color: rgba(255, 0, 0);
    position: fixed;
    top: 35em;
    left: 0;
    width: 17em;
    height: 6.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border: 7px solid #000;
}

.message-box__p {
    color: white;
    ;
    display: block;
}

.video {
    width: 4em;
    margin-right: 1em;
    margin-left: 1em;
}

span {
    font-weight: bold;
    font-size: 1.1em;
}

.padding {
    background-color: #201919;
    height: 30em;
    width: 100%;
}

.padding__container {
    width: 100%;
    height: 100%;
}

.dir {
    margin-top: 2em;
    float: left;
    width: 50%;
    height: 25em;
    display: block;
    padding: 2em;
}


.logo2 {
    margin-top: 0.5em;
    margin-left: 10em;
    height: 14em;
}

.padding__text {
    padding-top: 2em;
    font-size: 2em;
    color: #fff
}

.padding__p {
    color: #fff;
    font-size: 1.2em;
    text-align: left;
    padding: 1em;
}

.img__logo--2 {
    width: 15em;
    margin: -1.6em 7em;
}


.container--info {
    width: 100%;
    height: 20em;
    background-color: rgb(36, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container__img_info {
    width: 20em;
    margin: 5em;
    display: inline-grid;
    align-items: center;
    position: relative;
    left: 2em;

}

.img-info {
    width: 8em;
    position: relative;
    left: 5em;
}

.line--info {
    border: 1px solid red;
    width: 5em;
    margin-left: 6.5em;
}

.text-info {
    color: white;
    font-size: 1.2em;
    display: inline;
    margin-top: 0.5em;
    margin-right: 1em;
    text-align: center;
}


.container__mision {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url("../assets/img//edificio.jpg");
    align-items: center;
    justify-content: start;
    background-size: cover;
    background-position: center;

}

.square__mision {
    margin-top: 3em;
    background-color: rgb(36, 30, 30);
    width: 34.2em;
    height: 38em;
    margin-left: 53em;
    padding: 2em;
}

.square__form__mision {
    background-color: red;
    margin-top: 2em;
    width: 30.5em;
    height: 30em;
}

.square__title__mision {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.square_p__mision {
    font-size: 1.1em;
    padding: 2em;
    color: #fff;
}


.container__values {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url("../assets/img/edificio2.jpg");
    align-items: center;
    justify-content: start;
    background-size: cover;
    background-position: center;

}

.square__values {
    margin-top: 3em;
    background-color: rgb(36, 30, 30);
    width: 34.2em;
    height: 38em;
    margin-left: 3em;
    padding: 2em;
}

.square__form__values {
    background-color: red;
    margin-top: 2em;
    width: 30.5em;
    height: 30em;
}

.square__title__values {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.square_p__values {
    font-size: 1.1em;
    padding: 2em;
    color: #fff;
}

.map__container {
    width: 100%;
    height: 10em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.map__title {
    margin-top: 2em;
    color: red;
    font-size: 2em;
    margin-left: 4em;
}

.map__p {
    margin-left: 8em;
}

.map__scale {
    background-color: whitesmoke;
    width: 100%;
    height: 50em;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/img/mapa.png");
    background-size: 60%;
    background-repeat: no-repeat;
}


.cards {
    background-color: rgb(36, 30, 30);
    width: 100%;
    height: 40em;
    padding: .1px;
    color: #000;
}


.cards__title {
    margin-top: 3em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}


.cards__title__cursive {
    color: #fff;
    margin-top: 0.5em;
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
}

.cards__container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.card {
    box-shadow: 10px 5px 10px #ffffff4b;
    background-color: #fff;
    width: 17em;
    height: 20em;
    margin: 4em 0.5em;
    border-radius: em;
}


.card__title {
    color: rgb(226, 5, 5);
    padding: 1em;
    float: right;
    display: inline;
}


.card__img {
    width: 5em;
    height: 5em;
    padding: 0.4em;
    margin-left: 0.9em;
    object-fit: cover;

}

.card__p {
    position: relative;
    display: inline;
    left: 7em;
    bottom: 2.5em;
    padding: 0.1px;
    color: #9c9898;
}

.card__info {
    padding: 1em;
    margin-bottom: 20em;
    padding: 1em;
    float: left;
    margin: -2em 0.1em;
}


.star__container {
    margin-top: 9em;
    margin-left: 1em;
}

.brands__container {
    width: 100%;
    height: 20em;
    padding: 0.1px;
    margin-top: 5em;
    margin-bottom: 10em;
}


.brands__title {
    color: red;
    font-size: 3em;
    text-transform: uppercase;
    padding-left: 100px;
}

.img__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    column-gap: 7em;
    row-gap: 1em;
    height: 23em;

}

.brand__image {
    width: 10em;
    height: 10em;
    object-fit: contain;
}

.contact--form__container {
    width: 100%;
    height: 35em;
}


.contact--form__container {
    display: flex;
    background-image: url("../assets/img/electronica.jpg");
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
    background-size: cover;
    background-position: center;
}

.contact-from__h3 {
    text-align: center;
    color: #fff;
    font-size: 2em;
}

.contact-from__p {
    text-align: center;
    color: #fff;
}

.submit {
    font-size: 1em;
    width: 6em;
    height: 2em;
    border-radius: 20em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.input__form {
    width: 23em;
    height: 3em;
    border-radius: 1em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 3em;
}


.input__form::placeholder {
    color: #fff;
}

.icon__form {
    position: relative;
    right: 18.5em;
    top: 0.3em;
}


.img__logo--3 {
    margin-top: 5em;
    width: 19em;
    height: 12em;
    padding: 1em;
    border-right: 2px solid white;
    margin-right: 6em;
}

.contact__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15em;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 1em;
}

.footer__container {
    width: 100%;
    height: 25em;
    background-color: #535050;
    display: flex;
    justify-content: center
}

.footer__h3 {
    margin-left: 2.5em;
    margin-top: 7em;
    color: rgb(142, 212, 38);
    width: 100%;
    height: 100%;
}

.footer__p {
    position: relative;
    bottom: 1em;
    color: #fff;
    margin-bottom: 10em;
    margin-top: 0.2em;
    margin-left: 3.6em;
    font-size: 0.8em;
    line-height: 2em;
}


.footer__p--active {
    position: relative;
    bottom: 3em;
    right: -0.2em;
}

.footer__p--contact {
    position: relative;
    top: -0.2em;
    right: -0.em;
    line-height: 1em;
    font-size: 0.8em;
}


.green {
    color: rgb(142, 212, 38);
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #9c9898;
    transition: 0.5s;
}

.button:hover {
    color: #535050;
}

.video__container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 70%, #000000);
    background-size: cover;
}

.landing__video {
    position: relative;
    width: 100%;
    height: 80%;
    min-height: 80%;
    object-fit:contain;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    /* Styles for small screens */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles for medium screens */
}

@media screen and (min-width: 1025px) {
    /* Styles for large screens */
}

@media (prefers-color-scheme: dark) {
     /* Code for dark mode */ ¨
     .brands__container{
        background-color: #5a5a5c ;
    }
    img__container{
         background-color: #5a5a5c ;
     }
    }

@media (prefers-color-scheme: light) {
     /* Code for light mode */ 
     .dark {
        background-color: #fff;
        color: black;
        transition: all 1s ease;
    }
     .img__container{
        background-color: #a5a5a5;
     }
     .brands__container{
        background-color: #a5a5a5;
     }
     .brands__title{
        color: #fff;
     }
    }