* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif
}

.header {
    display: flex;
}

.header__navbar {
    display: flex;
    position: fixed;
    height: 5em;
    background-image: linear-gradient(#000, transparent);
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
}

.search {
    position: relative;
    left: -2.2em;
    top: 0.5em;
}

.input {
    margin-left: -38em;
    border-radius: 3em;
    width: 20em;
    height: 3em;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    padding-left: 1em;
    padding-right: 1em;
}

input:hover {
    border-color: #9c9898;
}

.list__link {
    background-color: transparent;
    color: white;
    text-decoration: none;
    margin: 1em;
}

.list__link--active {
    background-color: red;
    width: 8em;
    height: 2.5em;
    text-align: center;
    padding: 0.6em;
    margin-right: .5em;
}

.icon--elc {
    position: relative;
    width: 5em;
    bottom: 7em;
    left: 11em;
}

.list__link:hover {
    color: #9c9898;
}

.list__menu {
    padding: 1rem;
    height: 5rem;
    margin-right: 3em;
}

.img__logo {
    display: inline-block;
    width: 15em;
    margin-right: 32em;
    padding: 2em;
}

.main {
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: end;
    justify-content: center;
    z-index: 1;
}

.slider__container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.slider__wrapper {
    height: 100%;
    height: 100%;
    max-width: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-width: 100%;
}

.slider__nav {
    display: flex;
    column-gap: 0.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10em;
}

.slider__nav a {
    background-color: #ffffff;
    width: 2em;
    height: 0.2em;
}

.slider__nav a:hover {
    background-color: red;
}

.icon {
    width: 4.5em;
    height: 4em;
    margin: 0em 3.5em;
}

.icon--apple {
    width: 6em;
    margin-left: 3em;
}

.icon--google {
    width: 6em;
    margin-left: 3em;
    margin-bottom: 2em;
}

.container__main {
    position: relative;
    left: 1em;
    top: 5em;
    display: inline-grid;
    margin-left: 60em;
}

.text-icon {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2em;
}

.text-icon:hover {
    color: #9c9898;
    transition: 0.5;
}

.items__container {
    position: absolute;
    margin-right: 40em;
    height: 10em;
    bottom: 20em;
}

.items__container__h2 {
    color: #fff;
    padding-left: 0.2em;
    font-size: 5em;
}

.items__container__p {
    margin: 1em;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.items__container__button {
    margin: 1em;
    width: 11em;
    height: 3em;
    background-color: red;
    color: #fff;
    border-style: none;
    font-size: 1em;
}

.formulary__container {
    width: 100%;
    height: 145vh;
}

.formulary__h2 {
    position: relative;
    top: 0.5em;
    color: red;
    margin-left: 3em;
    padding: 0.1px;
    font-size: 2em;
}

.calendar {
    margin-top: 3em;
    width:  34em;
    height: 10em;
    background-color: red;
    color: #fff;
    padding: 0.1px;
    position: relative;
    right:  5em;
    bottom:  1em;
}

.calendar__title {
    margin-left: 5.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    color: #fff;
}

.calendar__p {
    margin-top: 1em;
    width: 30em;
    color: #fff;
}

.calendar__icon {
    position: relative;
    bottom: 1em;
    margin-left: 8em;
    margin-right: 1em;
    width: 6.5em;
    color: #fff;
    float: left;
}


.float__container {
    right: 0;
    top: 50em;
    position: absolute;
    width: 25em;
    height: 30em;
    background-color: red;
}

.forms__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    right:  12em;
}

.forms__p {
    margin: 0.6em;
    font-weight: bold;
    margin-left: 0.1em;
}

.forms__p--sex {
    margin-top: 2em;
}

.forms__input {
    appearance: none;
    border: 1.5px solid red;
    padding-left: 1em;
    height: 2.2em;
    width: 50em;
    border-radius: 0.5em;
    background-color: #eeebeb;
}

.forms__input--radio {
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid red;
    border-radius: 60%;
}

.forms__p--radio {
    display: inline;
    padding-right: 1em;
    padding-left: 0.2em;
}

.forms__input--radio:checked {
    background-image: radial-gradient(#f00 0%, #f00 40%, transparent 50%, transparent);
    color: #f00;
}

.p__child {
    margin-top: 1em;
    color: red;
    font-weight: bold;
}

.forms__button {
    margin-top: 2em;
    height: 3em;
    width: 8em;
    border-color: transparent;
    background-color: red;
    color: white;
}


.float__contact--form__container {
    width: 100%;
    height: 35em;
}

.float__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}


.float__contact--form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    background-size: cover;
    background-position: center;
}

.float__contact-from__h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.float__contact-from__p {
    display: inline;
    margin-bottom: 1em;
    text-align: right;
    color: #fff;
}

.float__submit {
    margin-top: 1em;
    font-size: 1em;
    width: 6em;
    height: 2em;
    border-radius: 20em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.float__input__form {
    width: 23em;
    height: 3em;
    margin-top: 1em;
    border-radius: 1em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 3em;
}

.float__input__form::placeholder {
    color: #fff;
}


.ifloat__nput__form::placeholder {
    color: #fff;
}

.float__icon__form {
    width: 1.5em;
    position: relative;
    right: 18.6em;
    top: 0.3em;
}


.img__logo--3 {
    margin-top: 5em;
    width: 19em;
    height: 12em;
    padding: 1em;
    border-right: 2px solid white;
    margin-right: 6em;
}

.contact__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15em;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 1em;
}



.contact--form__container {
    width: 100%;
    height: 35em;
}


.contact--form__container {
    display: flex;
    background-image: url(../img/electronica.jpg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
    background-size: cover;
    background-position: center;
}

.contact-from__h3 {
    text-align: center;
    color: #fff;
    font-size: 2em;
}

.contact-from__p {
    text-align: center;
    color: #fff;
}

.submit {
    font-size: 1em;
    width: 6em;
    height: 2em;
    border-radius: 20em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.input__form {
    width: 23em;
    height: 3em;
    border-radius: 1em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 3em;
}


.input__form::placeholder {
    color: #fff;
}

.icon__form {
    position: relative;
    right: 18.5em;
    top: 0.3em;
}


.img__logo--3 {
    margin-top: 5em;
    width: 19em;
    height: 12em;
    padding: 1em;
    border-right: 2px solid white;
    margin-right: 6em;
}

.contact__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15em;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 1em;
}

.footer__container {
    width: 100%;
    height: 25em;
    background-color: #535050;
    display: flex;
    justify-content: center
}

.footer__h3 {
    margin-left: 2.5em;
    margin-top: 7em;
    color: rgb(142, 212, 38);
    width: 100%;
    height: 100%;
}

.footer__p {
    position: relative;
    bottom: 1em;
    color: #fff;
    margin-bottom: 10em;
    margin-top: 0.2em;
    margin-left: 3.6em;
    font-size: 0.8em;
    line-height: 2em;
}


.footer__p--active {
    position: relative;
    bottom: 3em;
    right: -0.2em;
}

.footer__p--contact {
    position: relative;
    top: -0.2em;
    right: -0.em;
    line-height: 1em;
    font-size: 0.8em;
}

.green {
    color: rgb(142, 212, 38);
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #9c9898;
    transition: 0.5s;
}

button {
    transition: 0.5s;
}

button:hover {
    color: #9c9898;
}


@media screen and (max-width: 1118px) {
    .list__link {
        display: none;
    }
    
    ain {
        width: 100%;
        height: 100vh;
        background-image: url(/assets/img/solar.jpg);
        background-size: cover;
        background-position: center;
    }

    .list__link--active {
        margin: 0;
    }

    .header__navbar {
        position: fixed;
        width: 100vw;
    }

    .input {
        width: 6em;
        padding: 0;
        margin: 0;
        margin-left: 1em;
    }

    .icon {
        margin: 0.5em;
        margin-bottom: 0;
        width: 5em;
    }

    .items__container__h2 {
        font-size: 2.8em;
        position: relative;
        left: 8em;
        width: 10em;
    }

    .items__container__p {
        position: relative;
        left: 18.5em;
        width: 10em;
    }

    .items__container__button {
        display: none;
        position: relative;
        top: 1em;
        top: 11em;
        left: 16.5em;
        font-size: 0.5em;
    }

    .container__img_info {
        padding: 0;
    }

    .text-icon {
        font-size: 0.5em;
    }

    .list__menu {
        margin: 0;
        padding: 1.5em;
    }

    .img__logo {
        padding: 0em;
        position: relative;
        width: 6em;
        margin: 0;
    }

    .icon--apple {
        margin-right: 10em;
        width: 5em;
    }

    .icon--google {
        margin-bottom: -2em;
        margin-right: 18em;
        width: 5em;
    }

    .container__main {
        width: 100%;
    }

    .message-box {
        display: none;
    }

    .slider__container {
        width: 100vw;
    }

    .message-box {
        display: none;
    }

    .container--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .container__main {
        position: relative;
        width: 100%;
        top: 1em;
        left: -2em;
    }

    .icon--apple {
        position: relative;
        right: 18em;
    }

    .icon--google {
        position: relative;
        right: 18em;
        bottom: 2em;
    }

    .icon--elc {
        width: 4.5em;
        position: relative;
        bottom: 4.5em;
        left: -9em;
    }

    .formulary__container {
        width: 100vw;
        height: 150vh;
    }

    .forms__input {
        width: 70vw;
    }


    .p__child{
        margin:  0;
        margin-top:  1em;
    }

    .forms__container {
        position: static;
        display:  flex;
        width: 100vw;
        height:  100vh;
        flex-direction:  column;
        justify-content:  center;
        align-items:  center;
    }

    .hiddenMobile {
        display: none;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        height: 110vh;
        width: 100vw;
        justify-content: center;
    }

    .footer__h3 {
        font-size: 1em;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .contact__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 1em;
        margin-left: 4em;
    }

    .calendar{
        width:  100%;
        position: relative;
        margin-bottom: 1em;
        left: 0;
    }


    .footer__p {
        margin: 0;
        text-align: center;
        padding: 1em;
        padding-bottom: 1.2em;
    }

    .img__logo--3 {
        position: relative;
        height: 8em;
        width: 15em;
        margin: 0;
        padding: 0;
        margin-left: 5em;
        border-right: none;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid #fff;
    }

    .footer__about--us {
        padding: 0;
        margin: 0;
    }

    .contact-from__h3 {
        font-size: 1.6em;
    }

    .calendar {
        width: 100%;
        height: 27vh;
    }

    .calendar__title {
        font-size: 1.4em;
        margin: 0;
    }

    .formulary__h2 {
        display: block;
        margin-top:  1em;
        width: 80%;
        height:  2.5em;
        background-color: #f00;
        color: #fff;
        margin: 0;
        text-align:  center;
        font-size:  1.2em;
        margin-right:   8em;
        padding-top: 0.5em;
        padding-left:  3em;
        background-image: url(../img/student.png);
        background-position: left;
    }

    .calendar__icon{
        margin-left:  2em;
        margin-top:  0.5em;
    }

    .calendar__title{
        margin: 0;
        margin-left: 2em;
        margin-top:  1.5em;
    }
}